body {
    background-color: #111E6C;
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 99%;
}

.welcome h1 {
    font-size: 40px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.enter {
    color: white;
    background-color: #111E6C;
    border: 1px solid white;
    font-family: 'Roboto Mono', monospace;
    margin-top: 5%;
    width: 185px;
    height: 34px;
    font-size: 22px;
    margin-left: 35%;
}

.enter:hover {
    cursor: pointer;
}